
body {
  font-family: 'YS Text Regular Regular', sans-serif !important;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate --default;
}

#root {
 /* max-width: 1500px;*/
  margin: 0 auto;
}

.squircle {
  corner-shape: squircle
}

.bg-pattern {
  background-color: #e5e5f7;
opacity: 0.8;
background-image:  linear-gradient(30deg, #0082ce 12%, transparent 12.5%, transparent 87%, #0082ce 87.5%, #0082ce), linear-gradient(150deg, #0082ce 12%, transparent 12.5%, transparent 87%, #0082ce 87.5%, #0082ce), linear-gradient(30deg, #0082ce 12%, transparent 12.5%, transparent 87%, #0082ce 87.5%, #0082ce), linear-gradient(150deg, #0082ce 12%, transparent 12.5%, transparent 87%, #0082ce 87.5%, #0082ce), linear-gradient(60deg, #0082ce77 25%, transparent 25.5%, transparent 75%, #0082ce77 75%, #0082ce77), linear-gradient(60deg, #0082ce77 25%, transparent 25.5%, transparent 75%, #0082ce77 75%, #0082ce77);
background-size: 72px 126px;
background-position: 0 0, 0 0, 36px 63px, 36px 63px, 0 0, 36px 63px;
}

.btn-error {
  color: white
}

.btnerroroverridetextwhiteonhover:hover{
  color: white !important;
}


.option {
  outline: 1px solid rgba(206, 206, 206, 0.3);;
  border: 6px solid white;
}
#votingoptions .active {
  outline: 2px solid #0082ce;
  color: #0067a3;
  border: 5px solid white;
  background-color: #0084d038
}


.clickable-row {
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.05);
}